@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* SmartDash FV: Azul Marino y Naranja */
    --background: 210 40% 98%;
    /* Fondo Gris Aire (Light Mode) */
    --foreground: 222.2 47.4% 11.2%;
    /* Texto casi negro */

    --primary: 211 100% 18%;
    /* Azul Marino Profundo (#002D5E) */
    --primary-foreground: 210 40% 98%;

    --accent: 11 100% 60%;
    /* Naranja Activo (#FF5733) */
    --accent-foreground: 210 40% 98%;

    --card: 0 0% 100%;
    /* Fondo de tarjetas: Blanco puro */
    --border: 214.3 31.8% 91.4%;
    --radius: 0.75rem;
  }
}

body {
  @apply bg-background text-foreground antialiased;
  /* Forzamos una sola fuente para todo el proyecto */
  font-family: 'Inter', sans-serif;
}